* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.icns binary
*.exe binary
*.msi binary
*.dll binary
*.woff binary
*.woff2 binary
*.ttf binary
*.otf binary
*.zip binary
*.7z binary
*.pdf binary
